/*.scrollable {
  max-height: 85%;
  overflow-y: auto;
  display: block;
}*/

body, html {
    margin:0;
    height:100%;
}

.inbottom {
    position: fixed;
    height: 80%;
    bottom: 0;
    overflow-y: auto;
    left: 0;
    right: 0;
}

md-content[flex] {
  height: 1px;
}
