@(content: Html)

<html lang="en" >

<head>
  <meta charset="UTF-8">

  
  <!-- <script src="@routes.Assets.versioned("bower_components/angular/angular.min.js")"></script>
  <script src="@routes.Assets.versioned("bower_components/angular-animate/angular-animate.min.js")"></script>
  <script src="@routes.Assets.versioned("bower_components/angular-aria/angular-aria.min.js")"></script>
  <script src="@routes.Assets.versioned("bower_components/angular-messages/angular-messages.min.js")"></script>

  <link rel="stylesheet" href="@routes.Assets.versioned("bower_components/angular-material/angular-material.min.css")">
  <script src="@routes.Assets.versioned("bower_components/angular-material/angular-material.min.js")"></script> -->

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
  
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/app.css")">

  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

</head>

<script type="text/javascript">
  (function () {
  angular.module('MyApp',['ngMaterial', 'ngMessages']);
  angular.module('MyApp').controller('ToolbarCtrl', ToolbarCtrl);
  angular.module('MyApp').filter('range', function() {
  return function(input, total) {
    total = parseInt(total);

    for (var i=0; i<total; i++) {
      input.push(i);
    }

    return input;
  };
});

  function ToolbarCtrl($log, $location, $http, $timeout, $q) {
    var self = this;

    self.host = $location.protocol() + "://" + $location.host() + ":" + $location.port();

    self.gotoBook = function(bookId) {
      window.location.href = self.host + "/book/" + bookId;
    }

    self.gotoListPage = function(listPage) {
      window.location.href = self.host + "/book/list/" + listPage;
    }

    self.gotoCity = function(cityName) {
      window.location.href = self.host + "/city/" + cityName;
    }

    self.gotoHost = function() {
      window.location.href = self.host;
    }

    self.voted = {};

    self.addPositive = function(id, cb) {
      if (self.voted[id] != 1) {
        self.voted[id] = 1;
        $http({
          method : "POST",
          url : self.host + "/quote/up/" + id,
        }).then(function mySucces(r) {
        }, function myError(response) {
          self.voted[id] = undefined;
        });
      }
    }

    self.addNegative = function(id, cb) {
      if (self.voted[id] != 1) {
        self.voted[id] = 1;
        $http({
          method : "POST",
          url : self.host + "/quote/down/" + id,
        }).then(function mySucces(r) {
        }, function myError(response) {
          self.voted[id] = undefined;
        });
      }
    }

    self.querySearch   = getHttpResponse;
    self.selectedItemChange = selectedItemChange;
    self.searchTextChange   = searchTextChange;

    self.books = []

    function searchTextChange(text) {
      $log.info('Text changed to ' + text);
    }

    function selectedItemChange(item) {
      $log.info('Item changed to ' + JSON.stringify(item));
      var name = item === undefined ? "" : item.name;
      if (name != "") self.gotoCity(name);
      // $location.hash(name);
      // self.update(name);
    }

    function getHttpResponse(query) {
      var deferred = $q.defer();
      var lowercaseQuery = angular.lowercase(query);
      $log.info(lowercaseQuery)

      $http({
        method : "GET",
        url : self.host +"/city/search/" + lowercaseQuery,
      }).then(function mySucces(r) {
        var response = angular.fromJson(r);
        deferred.resolve(response.data);
        $log.info(response.data);
      }, function myError(r) {
        var response = angular.fromJson(r)
        deferred.resolve([]);
        $log.info(response);
      });

      return deferred.promise;
    }

  }

})();

</script>

<body ng-app="MyApp">
  <div layout="column" layout-fill ng-controller="ToolbarCtrl as gctrl">
    <md-toolbar class="ng-cloak">
      <div class="md-toolbar-tools">
        <font ng-click="gctrl.gotoHost()" face="Pacifico" style="cursor: pointer;">Book'N'Travel</font>

          <span flex="5"></span>
          <md-autocomplete
              style="color: black;"
              flex="50"
              md-selected-item="gctrl.selectedItem"
              md-search-text="gctrl.searchText"
              md-search-text-change="gctrl.searchTextChange(gctrl.searchText)"
              md-selected-item-change="gctrl.selectedItemChange(item)"
              md-items="item in gctrl.querySearch(gctrl.searchText)"
              md-item-text="item.name"
              md-min-length="1"
              placeholder="What city do you need?">
            <md-item-template>
              <span md-highlight-text="gctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
            </md-item-template>
            <md-not-found>
              No cities matching "{{gctrl.searchText}}" were found.
            </md-not-found>
          </md-autocomplete>
          <br/>
            
        <span flex></span>

        <md-button ng-href="{{gctrl.host}}/book/search">
          find
        </md-button>
        <md-button ng-href="{{gctrl.host}}/book/list">
          books
        </md-button>
      </div>
    </md-toolbar>
    <md-content class="ng-cloak">
        @content
    </md-content>
  </div>
</body>
</html>
