@(titleId: String)

<script type="text/javascript" src="@routes.Assets.versioned("javascripts/book.js")"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-jvectormap-2.0.3.min.js")"></script>
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/jquery-jvectormap-2.0.3.css")" type="text/css" media="screen"/>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-jvectormap-world-mill.js")"></script>

<link href="@routes.Assets.versioned("stylesheets/jquery.circliful.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.circliful.min.js")"></script>

<style>
  .red {
    background: #D3D3D3;
  }
</style>

<div ng-controller="ViewCtrl as ctrl" ng-init="ctrl.reload('@titleId');">

  <div>
    <div style="position: fixed; overflow-y: auto; height: 30%;">
    <div layout="row">
      <div flex="none">
        <img ng-src="{{ctrl.data.picture}}" alt="{{ctrl.data.picture}}" 
        style="max-height: 29%; margin-left: 5%; margin-top: 5%;" />
      </div>
      <div flex style="margin-left: 5%;">
        <div>
          <h2> {{ctrl.data.title}} </h2>
          <div>
            by
            <h4 style="display: inline;" ng-repeat="author in ctrl.data.authors">
              {{author.firstName}} {{author.lastName}} {{$last ? '' : ',  '}}</h4>
          </div>
          <span><b>Description:</b> {{ctrl.data.description}}</span>
        </div>
      </div>
    </div>
    </div>
    <div> 
      <div >
        
        <div id="world-map" class="inbottom" style="position: fixed; right: 50%; max-height: 60%;"></div>

        <div class="inbottom" style="left: 50%; max-height: 60%;">
          <md-list>
            <md-list-item class="md-long-text" ng-repeat="cityCtx in ctrl.data.cities">
              <div id={{cityCtx.city.name}} class="md-list-item-text">
                <h3> 
                  <b ng-click="ctrl.changeColor(cityCtx.city.name)"> {{cityCtx.city.name}} </b> 
                </h3>
                <md-list>
                  <md-list-item class="md-1-line md-long-text" ng-repeat="quote in cityCtx.quotes track by $index"
                    ng-class="{red: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                    <div class="md-list-item-text" layout="row" style="margin-bottom: 10px; margin-top: 10px;" >
                      <div flex>
                        {{quote.text}}
                      </div>
                    </div>
                  </md-list-item>
                </md-list>
              </div>
            </md-list-item>
          </md-list>
        </div>

      </div>
    </div>
  </div>
