@(pageNum: Int)

<script src="@routes.Assets.versioned("javascripts/bookList.js")"></script>

<div flex ng-controller="ViewCtrl as ctrl" ng-init="ctrl.reload('@pageNum');">
  <md-list>
    <md-list-item class="md-3-line md-long-text" ng-repeat="book in ctrl.data" ng-href="http://{{ctrl.host}}/book/{{book.id}}">
      <div class="md-list-item-text">
        <h3> {{book.title}} </h3>
        <div ng-repeat="author in book.authors" align="right">
          <h4>{{author.firstName}} {{author.lastName}}</h4>
        </div>
        <div ng-repeat="quote in book.quotes">
          <p> {{quote}} </p>
        </div>
      </div>
      <md-divider ></md-divider>
    </md-list-item>
  </md-list>
</div>