@(titleId: String)


<script src="@routes.Assets.versioned("javascripts/book.js")"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="@routes.Assets.versioned("javascripts/jquery-jvectormap-2.0.3.min.js")"></script>
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/jquery-jvectormap-2.0.3.css")" type="text/css" media="screen"/>
<script src="@routes.Assets.versioned("javascripts/jquery-jvectormap-world-mill.js")"></script>

<link href="@routes.Assets.versioned("stylesheets/jquery.circliful.css")" rel="stylesheet" type="text/css" />
<script src="@routes.Assets.versioned("javascripts/jquery.circliful.min.js")"></script>

<style>
  .red {
    background: #D3D3D3; /* Цвет фона */
  }
</style>

<div ng-controller="ViewCtrl as ctrl" ng-init="ctrl.reload('@titleId');">

  <div>
    <div style="position: fixed; overflow-y: auto; height: 30%;">
    <div layout="row">
      <div flex="none">
        <img ng-src="{{ctrl.data.picture}}" alt="{{ctrl.data.picture}}" 
        style="max-height: 29%; margin-left: 5%; margin-top: 5%;" />
      </div>
      <div flex style="margin-left: 5%;">
        
        <div>
          <h2> {{ctrl.data.title}} </h2>
          <div>
            by
            <h4 style="display: inline;" ng-repeat="author in ctrl.data.authors">
              {{author.firstName}} {{author.lastName}} {{$last ? '' : ',  '}}</h4>
          </div>
          <span><b>Description:</b> {{ctrl.data.description}}</span>
        </div>
      </div>
    </div>
    </div>
    <div> 
      <div >
        
        <div id="world-map" class="inbottom" style="position: fixed; right: 50%; max-height: 60%;"></div>

        <div class="inbottom" style="left: 50%; max-height: 60%;">
          <md-list>
            <md-list-item class="md-long-text" ng-repeat="cityCtx in ctrl.data.cities">
              <div id={{cityCtx.city.name}} class="md-list-item-text">
                <h3> 
                  <b ng-click="ctrl.changeColor(cityCtx.city.name)"> {{cityCtx.city.name}} </b> 
                </h3>
                <md-list>
                  <md-list-item class="md-1-line md-long-text" ng-repeat="quote in cityCtx.quotes track by $index"
                    ng-class="{red: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                    <div class="md-list-item-text" layout="row" style="margin-bottom: 10px; margin-top: 10px;" >
                      <div flex>
                        {{quote.text}}
                        
                      </div>
                    </div>
                  </md-list-item>
                </md-list>
              </div>
            </md-list-item>
            <!-- <md-divider ></md-divider> -->
          </md-list>
        </div>

      </div>
    </div>
  </div>

<!--   <div flex>
    <div flex>
      <div style="position: fixed; left: 0%; right: 50%;">
        <h2> {{ctrl.data.title}} </h2>
        <div>
          <h4 ng-repeat="author in ctrl.data.authors">{{author.firstName}} {{author.lastName}} {{$last ? '' : ',  '}}</h4>
        </div>
        <span>{{ctrl.data.description}}</span>
      </div>
      
    </div>
    <div id="world-map" class="inbottom" style="right: 50%; max-height: 60%;"></div>
  </div>
  <div layout="row" flex layout-wrap>
    <md-list>
      <md-list-item class="md-long-text" ng-repeat="cityCtx in ctrl.data.cities">
        <div id={{cityCtx.city.name}} class="md-list-item-text">
          <h3> 
            <b ng-click="ctrl.changeColor(cityCtx.city.name)"> {{cityCtx.city.name}} </b> 
          </h3>
          <md-list>
            <md-list-item class="md-1-line md-long-text" ng-repeat="quote in cityCtx.quotes track by $index"
              ng-class="{red: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
              <div class="md-list-item-text" layout="row" style="margin-bottom: 10px; margin-top: 10px;" >
                <div flex>
                  {{quote.text}}
                  
                </div>
              </div>
            </md-list-item>
          </md-list>
        </div>
      </md-list-item>
      <md-divider ></md-divider>
    </md-list>
  </div>
</div> -->


      <!-- <span ng-style="{color:'red'}">{{quote.sentiment}}</span>> -->

      <!--           <div flex="none">
                  <i class="material-icons" 
                    style="font-size: 16px; cursor: pointer;" 
                    ng-style="stylep"
                    ng-click="gctrl.addPositive(cityCtx.city.name + $index + 'p'); stylep = {'color' : 'blue'} " 
                    ng-attr-id="{{ $index }}">thumb_up</i>
                  <i class="material-icons" 
                    style="font-size: 16px; cursor: pointer;"
                    ng-style="stylen"
                    ng-click="gctrl.addNegative(cityCtx.city.name + $index + 'n'); stylen = {'color' : 'blue'} "
                    ng-attr-id="{{ $index }}">thumb_down</i>
                  <div ng-switch="quote.sentiment">
                    <span ng-switch-when="POSITIVE" ng-style="{color:'green'}">{{quote.sentiment}}</span>
                    <span ng-switch-when="NEGATIVE" ng-style="{color:'red'}">{{quote.sentiment}}</span>
                    <span ng-switch-default ng-style="{color:'blue'}">{{quote.sentiment}}</span>
                  </div>
                </div> -->


<!-- 
<script>
$(document).ready(function() {
  $("#test-circle").circliful({
    animationStep: 5,
    foregroundBorderWidth: 5,
    backgroundBorderWidth: 15,
    percent: 15
  });
});
</script>
 -->
