

<script type="text/javascript" src="@routes.Assets.versioned("javascripts/findBook.js")"></script>

<div ng-controller="FindBookCtrl as ctrl" ng-init= "ctrl.reload()">
  <md-input-container class="md-block">
    <label>Input author or title name</label>
    <input required name="description" ng-model="ctrl.input" ng-change="ctrl.onInputChanged()">
  </md-input-container>

  <md-list>
    <md-list-item class="md-2-line" ng-repeat="book in ctrl.books" ng-click="gctrl.gotoBook(book.id)">
      <div class="md-list-item-text">
        <h3> {{book.title}} </h3>
        <h4>
          <span ng-repeat="author in book.authors">
            {{author.firstName}} {{author.lastName}} {{$last ? '' : ',  '}}
          </span>
        </h4>
      </div>
      <md-divider ></md-divider>
    </md-list-item>
  </md-list>
</div>