

<script src="@routes.Assets.versioned("javascripts/findBook.js")"></script>

<div ng-controller="FindBookCtrl as ctrl" ng-init= "ctrl.reload()">
  <md-content class="md-padding">
    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
          md-autofocus="true"
          ng-disabled="ctrl.isDisabled"
          md-no-cache="ctrl.noCache"
          md-selected-item="ctrl.selectedItem"
          md-search-text="ctrl.searchText"
          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
          md-selected-item-change="ctrl.selectedItemChange(item)"
          md-items="item in ctrl.querySearch(ctrl.searchText)"
          md-item-text="item.title"
          md-min-length="1"
          placeholder="What book or author do you need?"
          md-menu-class="autocomplete-custom-template">
        <md-item-template>
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">
            {{item.title}}
          </span>
<!--           <span ng-repeat="author in item.authors">
            <h4>{{author.firstName}} {{author.lastName}}</h4>
          </span> -->
        </md-item-template>
        <md-not-found>
          No books matching "{{ctrl.searchText}}" were found.
        </md-not-found>
      </md-autocomplete>
      <br/>
    </form>
  </md-content>

  <!-- <md-list>
    <md-list-item class="md-3-line md-long-text" ng-repeat="book in ctrl.books" ng-href="book/{{book.id}}">
      <div class="md-list-item-text">
        <h3> {{book.title}} </h3>
        <div ng-repeat="author in book.authors" align="right">
          <h4>{{author.firstName}} {{author.lastName}}</h4>
        </div>
        <div ng-repeat="quote in book.quotes">
          <p> {{quote}} </p>
        </div>
      </div>
      <md-divider ></md-divider>
    </md-list-item>
  </md-list> -->
</div>